.container {
    display: flex;
    flex-direction: column;
}

.one {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 100px;
}

.one-body {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;  
    color: white;
    justify-content: space-between;
    align-items: center;
}

img {
    height: 239px;
    width: 400px;
}

.signup {
    background-color: #3882f6;
    font-weight: bold;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.hero-statement {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    flex-wrap: wrap;
    width: 400px
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
    flex-wrap: wrap;
    width: 400px;
}

.left-header {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.two {
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 30px;
}

.information-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    padding: 20px;
}

.two-info {
    display: flex;
    flex-direction: column;
}

.image-text {
    width: 130px;
    text-align: center;
    margin-top: 15px;;
    margin-bottom: 30px;
}

.two-image {
    width: 130px;
    height: 130px;
    border: 3px solid #3882f6;
    border-radius: 15px;;
}
.three {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 250px;
}

.three-quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.three-author {
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    padding-right: 30px;
}

.four {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px
}

.action-box {
    display: flex;
    padding: 40px 75px;
    background-color: #3882f6;
    gap: 50px;
    border-radius: 15px;
}

.action-signup {
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    height: 35px;
    width: 100px;
}

.action-text {
    font-size: 20px;
    font-weight: bold;
}

.left-container {
    color: white;
}

.footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
}